body {
  background-color: rgb(5, 6, 45);
  padding: 15px;
}
.nav {
  margin: 2%;
}
.title {
  background: linear-gradient(#5b42f3, #00ddeb);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
}
.name {
  background: linear-gradient(#af40ff, #5b42f3);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  display: flex;
  justify-content: flex-start;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.moon svg {
  fill: #fffacc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
  transform: translateX(30px);
}
.subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.card__content {
  background: rgb(5, 6, 45);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.output-text,
.input-text {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: none;
  border: none;
  resize: none;
  border-radius: 5px;
  font-style: italic;
  color: white;
  margin: 5px;
}
.textSpace {
  display: flex;
  justify-content: space-evenly;
}
.radio-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.radio-input .input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.radio-input .span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 10px;
}
.radio-input .span::before {
  content: "Encriptar";
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 8px;
  background: rgb(5, 6, 45);
  box-shadow: inset -6px -6px 12px #635985, inset 6px 6px 12px #635985;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input:checked ~ .span::before {
  content: "Desencriptar";
  text-shadow: 1px 1px 0.5px rgba(0, 255, 0, 0.3);
  border-radius: 8px;
  background: rgb(5, 6, 45);
  box-shadow: inset -6px -6px 12px #635985, inset 6px 6px 12px #635985;
  color: #fff;
}
.radio-input .span::after {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #f15b59;
  position: absolute;
  top: calc(50% - 3px);
  right: 20px;
  box-shadow: 1px 1px 3px #f15b59, -1px -1px 3px #f15b59;
}
.input:checked ~ .span::after {
  background: #a5d7e8;
  box-shadow: 1px 1px 3px #a5d7e8, -1px -1px 3px #a5d7e8;
}
.buttons {
  display: flex;
  margin: 2%;
  flex-direction: row;
  justify-content: center;
}
