[tema="light"] {
  .bd {
    background-color: #eaf1d5;
  }
  .title {
    color: #000;
  }
  .name {
    color: #000;
  }
  .input + .slider {
    background-color: #c1d0b5;
    border-color: #000;
  }
  .slider:before {
    background-color: rgb(5, 6, 45);
  }
  .card {
    box-shadow: rgba(65, 199, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #678e63, #678e63 50%, #678e63);
  }
  .card__content {
    background: #c1d0b5;
  }
  .input-text {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: none;
    border: none;
    resize: none;
    border-radius: 5px;
    font-style: italic;
    color: white;
    padding: 3%;
    outline: none;
  }
  .textSpace {
    display: flex;
    justify-content: space-evenly;
  }
  .wrapper {
    --font-color-dark2: black;
    --font-color-light2: white;
    --bg-color2: #c1d0b5;
    --main-color2: #678e63;
    background-color: var(--bg-color2);
    border: 2px solid var(--main-color2);
    box-shadow: 4px 4px var(--main-color2);
  }
  .span {
    color: var(--font-color-dark2);
  }
  .inButton:checked + .btn {
    background-color: var(--main-color2);
  }
  .inButton:checked + .btn .span {
    color: var(--font-color-light2);
  }
  .wrapper2 {
    --font-color-dark2: black;
    --font-color-light2: white;
    --bg-color2: #c1d0b5;
    --main-color2: #678e63;
    background-color: var(--bg-color2);
    border: 2px solid var(--main-color2);
    box-shadow: 4px 4px var(--main-color2);
  }
  .btn {
    background-color: var(--bg-color2);
  }
  .textOut {
    color: black;
  }
  .wait {
    color: black;
  }
  .adverd {
    color: black;
  }
  .input-text {
    color: black;
  }
}
body {
  background-color: rgb(5, 6, 45);
  padding: 15px;
}
.nav {
  margin: 2%;
}
.title {
  background-image: linear-gradient(#5b42f3, #00ddeb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
}
.name {
  background-image: linear-gradient(#af40ff, #5b42f3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  display: flex;
  justify-content: flex-start;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.moon svg {
  fill: #fffacc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
  transform: translateX(30px);
}
.subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.card__content {
  display: flex;
  background: rgb(5, 6, 45);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.input-text {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: none;
  border: none;
  resize: none;
  border-radius: 5px;
  font-style: italic;
  color: white;
  padding: 3%;
  outline: none;
}
.textSpace {
  display: flex;
  justify-content: space-evenly;
}
.wrapper {
  --font-color-dark: #a041fd;
  --font-color-light: #0cd5ec;
  --bg-color: #05062d;
  --main-color: #5650f3;
  position: relative;
  width: 300px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  justify-content: space-evenly;
  margin: 0 50px;
}
.option {
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
}
.inButton {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}
.btn {
  width: 110%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span {
  color: var(--font-color-dark);
}
.inButton:checked + .btn {
  background-color: var(--main-color);
}
.inButton:checked + .btn .span {
  color: var(--font-color-light);
}
.buttons {
  display: flex;
  margin: 2% 100px;
  justify-content: space-around;
  flex-direction: row;
}
.wrapper2 {
  --font-color-dark: #a041fd;
  --font-color-light: #0cd5ec;
  --bg-color: #05062d;
  --main-color: #5650f3;
  position: relative;
  width: 150px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  justify-content: center;
  margin: 0 125px;
}
.textOut {
  color: white;
  margin: 3%;
  width: auto;
  height: auto;
  font-style: italic;
}
.imgesperando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 13%;
}
.wait {
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adverd {
  color: white;
  font-size: x-small;
  display: flex;
  justify-content: center;
}
@media (max-width: 820px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    margin: 0 0 2%;
  }
  .card {
    margin: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin: 0 50px 50px;
  }
}
@media (max-width: 912px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    margin: 0 0 2%;
  }
  .card {
    margin: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin: 0 50px 50px;
  }
}
@media (max-width: 412px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    margin: 0 0 2%;
  }
  .card {
    margin: 20px;
    width: 350px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin: 0 50px 50px;
  }
}
@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    margin: 0 0 2%;
  }
  .card {
    margin: 20px;
    width: 280px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin: 0 50px 50px;
  }
  .title {
    font-size: x-large;
  }
  .name {
    font-size: x-large;
  }
}

@media (max-width: 390px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    margin: 0 0 2%;
  }
  .card {
    margin: 20px;
    width: 280px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin: 0 50px 50px;
  }
  .title {
    font-size: x-large;
  }
  .name {
    font-size: x-large;
  }
}
